h1{
    text-align: center;
    margin: 30px;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.br{
    margin-top: 25px;
}
.image{
    width: 100%;
    height: 100%;
}
img{
    width: 100%;
    transform: scale(1);
}
.row{
    margin: 30px;
    width: 50%;
    margin: auto;
    border: 1px solid;
    padding: 20px;
    background-image: linear-gradient(124deg,rgba(0,0,0,.26),#1d2000);
}
.parent{
    background-image: url("https://uploads-ssl.webflow.com/5fdb2866020c200cd7fd7369/622aa2c5177cf00cb91fb586_Group%2048097015.svg");
    background-repeat: no-repeat;
    background-position: left -150px top;
}
p{
    color: #bbb;
}

@media screen and (max-width:1440px) {
    .row{
        width: 60%;
    }
}

@media screen and (max-width:1175px) {
    .row{
        width: 72%;
    }
    
}

@media screen and (max-width:950px) {
    .row{
        width: 82%;
    }
}

@media screen and (max-width:750px) {
    .row{
        width: 92%;
    }
}
@media screen and (max-width:675px) {
    .row{
        width: 100%;
    }
}