<div class="parent">
    <h1>How is Growth Hacking Different from Marketing?</h1>
    <div class="row">
        <div class="col-6">
            <h5>The Growth Funnel</h5>
            <img src="https://uploads-ssl.webflow.com/5fdb2866020c200cd7fd7369/62393f30eaff0773441763cf_Group%2048097179.svg" alt="">
        </div>
        <div class="col-6 mat">
            <h5>What is Growth Hacking?</h5>
            <p>Growth hacking is all about running experiments and creating strategies for the exponential growth of the company while spending as little as possible. <br> <span>Funnel Breakdowns of Brands which are covered in the program</span></p>
            <ul>
                <li *ngFor="let brand of array"><img src={{brand}} alt=""></li>
            </ul>
        </div>
    </div>
</div>
<app-underline></app-underline>