<div class="parent">
    <ul>
        <li><img src="https://uploads-ssl.webflow.com/62555d632aa296260711a2b3/62b9011c0ac0e9603375bf6b_GS%20Logo%20Full.svg" alt=""></li>
        <li><img src="https://uploads-ssl.webflow.com/5fdb2866020c200cd7fd7369/635286329efb3c48dba89e44_Frame%2048097612%20(1).svg" alt=""></li>
    </ul>
    <p>For any support, please mail to hi@growthschool.io. Our support team will get back to you within 24 hours. The brands and companies that the instructors of growthschool are working or have worked, have no relation what so ever with Growthschool</p>
</div>
<div class="sub">©️ 2022 Growthschool.io. All rights reserved.</div>