<div>
    <h1>Who is this program for?</h1>
        <div class="row row-cols-md-2 row-cols-sm-1">
           <div class="col" *ngFor="let item of array">
                    <div class="col-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                      </svg></div>
                    <div class="col-10"><h3>{{item.name}}</h3>
                        <ul *ngFor="let inside of item.points">
                            <li>{{inside}}</li>
                        </ul></div>
           </div>
        </div>
</div>

<app-underline></app-underline>