<div class="container-fluid">
  <app-whatsapp-bar></app-whatsapp-bar>
    <app-growth-school></app-growth-school>
    <app-timeline></app-timeline>
  <app-cohort></app-cohort>
  <app-program-details></app-program-details>
  <app-mentorship></app-mentorship>
  <app-growth-hacking></app-growth-hacking>
  <app-testimonials></app-testimonials>
  <app-andrew-chen></app-andrew-chen>
  <app-program-overview></app-program-overview>
  <app-instructed-by></app-instructed-by>
  <app-co-mentors></app-co-mentors>
  <app-guest-sessions></app-guest-sessions>
  <app-brands></app-brands>
  <app-program-work></app-program-work>
  <app-community></app-community>
  <app-works></app-works>
  <app-what-you-get></app-what-you-get>
  <app-faqs></app-faqs>
  <app-footer></app-footer>
</div>
