<div class="bgimg">
    <div class="row row-cols-md-2 row-cols-sm-1 parent">
        <div class="col">
            <img class="logo" src="https://uploads-ssl.webflow.com/5fdb2866020c200cd7fd7369/620fad0f6de223b564568807_image%2014.png" alt="" >
            <h1>Learn Growth Hacking that works in 8 weeks</h1>
            <p>An 8-week cohort-based course to help you build a career in growth and grow your business faster than ever.</p>
            <app-apply-btn></app-apply-btn>
        </div>
        <div class="col">
            <img src="https://uploads-ssl.webflow.com/5fdb2866020c200cd7fd7369/622057e51aac4e15268ac6bf_Group%2048096756.jpg" alt="" class="video">
                    <div class="card1">
                        <h6>Instructed by</h6>  
                        <div class="card-body">Vaibhav Sisinty <br> Founder - GrowthSchool</div>
                        <div class="card-footer">
                            <ul>
                                    <li>Previously Worked at</li>
                                    <li>Uber</li>
                                    <li>KLOOK</li>
                            </ul>
                        </div>
                    </div>
        </div>
    
    </div>
</div>