<div class="parent">
    <h1>But, why Become a <br> <span>Growth Hacker?</span></h1>
    <div class="row">
        <div class="col-4" *ngFor="let item of array">
            <h1>{{item.title}}</h1>
            <h3>{{item.para}}</h3>
        </div>
    </div>
    <div>
        <div class="row boxname">
            <div class="col-3">
                <img src="https://uploads-ssl.webflow.com/5fdb2866020c200cd7fd7369/62392a17db586c586fb3f8e7_image%2064.png" alt="">
            </div>
            <ul class="col-9">
                <li>“Growth Hacker is the new VP of Marketing”</li>
                <li class="name">-Andrew Chen</li>
            </ul>
        </div>
    </div>
</div>
<app-underline></app-underline>