<div>
    <h1>Co-Mentor</h1>
        <div class="card1">
            <img class="pic" src="https://uploads-ssl.webflow.com/5fdb2866020c200cd7fd7369/628f46832d2893fc15fd2d25__LP%20for%20GH%20Program%20-%20New%20Format_Page_02_Image_0002%203-p-500.png" alt="">
            <h3>Ishan Singh</h3>
            <p>Growth Marketing Manager - Scripbox ; Growth Assistance - UpGrad & Fynd</p>
            <div class="img">
                <img src="https://uploads-ssl.webflow.com/5fdb2866020c200cd7fd7369/628f46851486c573d93e43c0_Group-2.svg" alt="">
                <img src="https://uploads-ssl.webflow.com/5fdb2866020c200cd7fd7369/628f46867bd3c9003d5ddb81_image%2090.png" alt="">
            </div>
        </div>
</div>
<app-underline></app-underline>